.App {
    height: 100vh;
    padding-top: 1px;
    background: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 560px;
    padding: 14px;
    background: #283739;
    border-radius: 20px;
    border: 5px solid #000000;
}

.row {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}